<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>Admin Panel</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
  <div class="admin-panel-container">
    <h2>Upload New Project</h2>
    <form action="/upload-project" method="POST" enctype="multipart/form-data">
      <input type="text" name="project_name" placeholder="Project Name" required />
      <textarea name="project_description" placeholder="Description" required></textarea>

      <label for="project_start_date">Start Month:</label>
      <input type="month" name="project_start_date" required />

      <label for="project_end_date">End Month:</label>
      <input type="month" name="project_end_date" required />

      <input type="file" name="project_file" accept=".zip" required />
      <button type="submit" class="btn">Upload</button>
    </form>

    <form action="/admin-logout" method="GET" style="margin-top: 20px;">
      <button type="submit" class="btn" style="background-color: #e74c3c;">Logout</button>
    </form>
  </div>
</body>
</html>
